<div class="row">
  <div class="col">
    <h1>Photo Storage</h1>
  </div>
  <div class="col">
    <button class="btn btn-primary" [routerLink]="['uploadfile']"> Upload </button>
  </div>
</div>
<br>

<div *ngIf="allBundles.length>0 ;else nodata" >
  <div class="row" *ngFor="let bun of allBundles">
    <div class="col"> {{bun.title}} </div>
    <div class="col"> {{getDate(bun.date)}}</div>
  </div>
</div>

<ng-template #nodata>
  <div class="row">
    <div class="col">
      <h4>No pictures uploaded</h4>
    </div>
  </div>
</ng-template>
